* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

small {
  line-height: 1.2;
}

body {
  background-color: $background-color;
}

.liveAlert {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10000;
  .btn-close {
    padding: 1rem;
  }
}

.alert_msg {
  word-wrap: break-word; // text-wrap: wrap; not working.
  white-space: normal;
  max-width: 500px;
  margin-bottom: 0;
}
