# Backend / Flask
HOST=0.0.0.0
PORT=5000

# PostgreSQL
DB_HOST=0.0.0.0            # must match the service name in docker-compose
DB_USER=
DB_NAME=
DB_PASSWORD=       # optional if blank
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis (if you add a service for Redis)
REDIS_HOST=redis      # must match Redis service name
REDIS_PORT=6379
REDIS_DB=0

# Frontend host for CORS
FRONTEND_HOST=http://localhost:5173

# Gemini API
GEMINI_API_KEY=

SECRET_KEY=
EXPIRES_DELTA=30

